ul.navbar {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  background-color: #f1f1f1;
}

li.logout{
  padding: 5px;
  font-family: 'Roboto', sans-serif;
  float: right;
}

li.navbar{
  padding: 5px;
  font-family: 'Roboto', sans-serif;
  float: left;
}

a.navbar{
  display: block;
  color: #000;
  text-align: center;
  padding: 18px 15px;
  text-decoration: none;
}

li a:hover {
    background-color: #555;
    color: white;
}

#logo {
  padding: 15px;
  background-color: transparent;
}


body {
  font-family: sans-serif;
  background: url("https://www.toptal.com/designers/subtlepatterns/patterns/ignasi_pattern_s.png");
}

article {
  margin-left: 50px;
  padding: 1em;
  overflow: hidden;
}
