ul.navbar {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  background-color: #f1f1f1;
}

li.logout{
  padding: 5px;
  font-family: 'Roboto', sans-serif;
  float: right;
}

li.navbar{
  padding: 5px;
  font-family: 'Roboto', sans-serif;
  float: left;
}

a.navbar{
  display: block;
  color: #000;
  text-align: center;
  padding: 18px 15px;
  text-decoration: none;
}

li a:hover {
    background-color: #555;
    color: white;
}

#logo {
  padding: 15px;
  background-color: transparent;
}

img.profile {
  border-radius: 50%;
  width: 60px;
  height: 60px;
}

button {
  background-color: #008CBA;
  font-size: 16px;
  border-radius: 4px;
  border: none;
  padding: 10px 20px 10px 20px;
  color: white;
  text-align: center;
  margin-bottom: 10px;
}

body {
  font-family: sans-serif;
  background: url("https://www.toptal.com/designers/subtlepatterns/patterns/ignasi_pattern_s.png");
}

article {
  width: 700px;
  border-radius: 5px;
  background-color: rgb(251, 254, 254);
}

#table {
  margin-left: 50px;
  padding: 1em;
  overflow: hidden;
}

.container {
  width: 65%;
  background: white;
  margin: 0 auto;
  border-color: #ccc;
  padding: 30px;
  -webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
  box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
  margin-bottom: 100px;
  clear: both;
  min-height: 60vh;
}

/* smartphones, iPhone, portrait 480x320 phones */
@media (min-width:320px)  {
  .container {
    width: 90%;
    height: 90%;
    background: white;
    margin: 0 auto;
    border-color: #ccc;
    padding: 5px;
    -webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
  }
}
